
@define-color bg #bcc0cc;
@define-color border #4c4f69;
@define-color text #272830;
@define-color surface1 #979ba6;

@define-color file_sys #272830;
@define-color cpu #272830;
@define-color mem #272830;
@define-color temp #272830;

@define-color pulseaudio #272830;
@define-color light #272830;
@define-color net #272830;
@define-color bluetooth #272830;

@define-color power #272830;

@define-color red #272830;
@define-color orange #272830;
@define-color green #272830;
@define-color blue #272830;

@define-color menu_sep #bcc0cc;


/* @define-color rosewater #f4dbd6; */
/* @define-color flamingo #f0c6c6; */
/* @define-color pink #f5bde6; */
/* @define-color maroon #ee99a0; */
/* @define-color peach #f5a97f; */
/* @define-color teal #8bd5ca; */
/* @define-color lavender #b7bdf8; */
/* @define-color subtext1 #b8c0e0; */
/* @define-color subtext0 #a5adcb; */
/* @define-color overlay2 #939ab7; */
/* @define-color overlay1 #8087a2; */
/* @define-color overlay0 #6e738d; */
/* @define-color surface2 #5b6078; */
/* @define-color surface0 #363a4f; */
/* @define-color base #24273a; */

