
@define-color bg #1e1d2f;
@define-color border #7dc4e4;
@define-color text #cad3f5;
@define-color surface1 #494d64;

@define-color file_sys #8aadf4;
@define-color cpu #c6a0f6;
@define-color mem #fed06d;
@define-color temp #91d7e3;

@define-color pulseaudio #ed8796;
@define-color light #eed49f;
@define-color net #a6da95;
@define-color bluetooth #8aadf4;

@define-color power #ed8796;

@define-color red #ed8796;
@define-color orange #fed06d;
@define-color green #a6da95;
@define-color blue #8aadf4;

@define-color menu_sep #1e2030;


/* @define-color rosewater #f4dbd6; */
/* @define-color flamingo #f0c6c6; */
/* @define-color pink #f5bde6; */
/* @define-color maroon #ee99a0; */
/* @define-color peach #f5a97f; */
/* @define-color teal #8bd5ca; */
/* @define-color lavender #b7bdf8; */
/* @define-color subtext1 #b8c0e0; */
/* @define-color subtext0 #a5adcb; */
/* @define-color overlay2 #939ab7; */
/* @define-color overlay1 #8087a2; */
/* @define-color overlay0 #6e738d; */
/* @define-color surface2 #5b6078; */
/* @define-color surface0 #363a4f; */
/* @define-color base #24273a; */

